<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <footer th:fragment="footer">
    <div>
      <p>you have reached the end of the page</p>
    </div>
  </footer>

  <div class="content" th:fragment="nav ">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid ">
        <div id="main" class="main">
          <button class="openbtn" onclick="toggleNav()"><i class="fas fa-bars"></i></button>
        </div>

        <a th:href="@{/adminhome/user/dashboard}" id="logo">
          <img src="/images/hori-logo.png" alt="" width="" height="45px" class="d-inline-block align-text-top"
            style="padding-top: 0px; margin-bottom: 8px;">
        </a>
        <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent"> -->

        <div th:if="${search}">
          <div class="search-box">
            <input type="text" name="search" id="search" size="50" class="search-txt" placeholder="Seacrh ..." />
            <div class="searchB"></div>
          </div>
        </div>
        <!-- <form th:action="@{/do_logout}" method="post" class="d-flex">
            <button class="btn btn-outline-success" type="submit" value="logout"
              style="margin-right: 10px;">Logout</button>
          </form>
          <a th:href="@{/adminhome/user/settings}"><i class="far fa-user-circle fa-lg" style="color: #5f665c;"></i></a> -->
        <!-- </div> -->
      </div>
    </nav>


  </div>

  <div th:fragment="menu">

    <nav class="sidebar" id="side_nave">
      <!-- <div class="header-box px-2 pt-3 pb-4 d-flex justify-content-between"> -->
      <a href="#" class="closebtn" onclick="toggleNav()"><i class="fas fa-times"></i></a>
      <!-- </div> -->

      <ul class="list-unstyled px-2">

        <li class="">
          <a th:href="@{/adminhome/user/dashboard}" class="nav_link   text-decoration-none px-3 py-2 d-block"><i
              class="far fa-home"></i> Home</a>
        </li>

        <li class="nav-item has-submenu"><a href="#" class="nav_link text-decoration-none px-3 py-2 d-block"><i
              class="far fa-users"></i> Users<i class="fas fa-chevron-down" name="collapse_link" id="chevron"></i></a>
          <ul class="submenu collapse" style="list-style: none ;">
            <li class=""><a th:href="@{/adminhome/users/listusers}"
                class="nav_link text-decoration-none px-3 py-2 d-block"><i class="fal fa-list-ul"></i> Show list of
                users</a>
            </li>
            <li class=""><a th:href="@{/adminhome/list}" class="nav_link text-decoration-none px-3 py-2 d-block"><i
                  class="far fa-user-tag"></i>Vendors</a></li>
            <li class=""><a th:href="@{/adminhome/users/addUser}"
                class="nav_link text-decoration-none px-3 py-2 d-block"><i class="fal fa-plus"></i> Add a user</a>
            </li>
          </ul>
        </li>

        <li class="nav-item has-submenu"><a href="#" class="nav_link text-decoration-none px-3 py-2 d-block"><i
              class="far fa-apple-alt"></i> Products <i class="fas fa-chevron-down" name="collapse_link"
              id="chevron"></i></a>
          <ul class="submenu collapse" style=" list-style: none ;">
            <li class=""><a th:href="@{/adminhome/products/categories}"
                class="nav_link text-decoration-none px-3 py-2 d-block"><i class="fal fa-table"></i> Product categories
              </a></li>
            <li class=""><a th:href="@{/adminhome/products/listproducts}"
                class="nav_link text-decoration-none px-3 py-2 d-block"><i class="fal fa-list-ul"></i> Show list of
                products </a>
            </li>
            <li class=""><a th:href="@{/adminhome/products/addproduct}"
                class="nav_link text-decoration-none px-3 py-2 d-block"><i class="far fa-plus"></i> Add a product </a>
            </li>
          </ul>
        </li>

        <li class=""><a th:href="@{/adminhome/orders/listorders}"
            class="nav_link text-decoration-none px-3 py-2 d-block"><i class="fal fa-boxes"></i> Orders</a>
        </li>

        <li class=""><a th:href="@{/adminhome/requests}" class="nav_link text-decoration-none px-3 py-2 d-block"><i
              class="fal fa-folder-open"></i> Requests</a>
        </li>

        <li class="nav-item has-submenu"><a href="#" class="nav_link text-decoration-none px-3 py-2 d-block"><i
              class="far fa-cogs"></i> Configuration <i class="fas fa-chevron-down" name="collapse_link"
              id="chevron"></i></a>
          <ul class="submenu collapse" style="list-style: none;">
            <li class=""><a th:href="@{/adminhome/configuration/listoptions}"
                class="nav_link text-decoration-none px-3 py-2 d-block"><i class="far fa-truck"></i> Shipping
                options</a></li>
            <li class=""><a th:href="@{/adminhome/configuration/listunits}"
                class="nav_link text-decoration-none px-3 py-2 d-block"><i class="far fa-weight-hanging"></i> Mesurement
                units</a></li>
          </ul>
        </li>

        <li class=""><a th:href="@{/adminhome/stock/showstock}"
            class="nav_link text-decoration-none px-3 py-2 d-block"><i class="far fa-inventory"></i> Stock
            management</a>
        </li>

        <li id="settings">
          <a th:href="@{/adminhome/user/settings}" class="nav_link text-decoration-none px-3 py-2 d-block" style="cursor: pointer;">
            <i class="far fa-user-circle fa-lg"></i> Settings</a>
        </li>
        <li id="bottom" class="">
          <a class="nav_link text-decoration-none px-3 py-2 d-block" style="cursor: pointer;"> 
            <form th:action="@{/do_logout}" method="post" class="d-flex">
              <button style="all: unset; cursor: pointer;" type="submit" value="logout"><i class="far fa-sign-out-alt fa-rotate-180"></i> Logout</button>
            </form>
          </a>
        </li>

      </ul>

    </nav>

  </div>

</body>

</html>