<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vendors</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">

    <script src="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/js/adminlte.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/css/adminlte.min.css">

    <script src="/js/fragments.js"></script>
    <script src="/js/listvendors.js"></script>

    <link rel="stylesheet" href="/css/fragments.css">
    <link rel="stylesheet" href="/css/search.css">
    <link rel="stylesheet" href="/css/table.css">

</head>
 
<body> 

    <div th:replace="~{fragments :: nav(search=true)}"></div>

    <div class="main-container d-flex">
        <div class="preloader flex-column justify-content-center align-items-center" style="background-color: white;">
            <img class="animation" src="/images/Horizonal-A-Logo.jpg" alt="AvonFruitsLogo" height="30%" width="50%">
        </div>

        <div th:replace="fragments :: menu"></div>

        <div class="container-fluid" id="container-fluid">

            <div align="center" class=" entireTbl" style="overflow: auto;" >
                <div class="top">
                    <h4>Vendors table</h4>
                    <a th:href="@{/adminhome/vendorform}" class="btn btn-block btn-outline-secondary"  ><i style="margin-right: 3px;" class="far fa-plus"></i> Add a vendor </a>
                </div>
                <table  class=" tbl " id="vendorsTable">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Full name</th>
                            <th>CIN</th>
                            <th>Gender</th>
                            <th>Email address</th>
                            <th>Phone number</th>
                            <th>Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="tbody">
                        <tr th:each="vendor : ${listVendors}">
                            <td th:text="${vendor.user_id}"></td>
                            <td th:text="${vendor.firstname + ' ' + vendor.lastname}"></td>
                            <td th:text="${vendor.cin}"></td>
                            <td th:text="${vendor.emailaddress}"></td>
                            <td th:text="${vendor.gender}"></td>
                            <td th:text="${vendor.phonenumber}"></td>
                            <td th:text="${#temporals.format(vendor.date, 'MMMM d, yyyy HH:mm')}"></td>
                            <td th:text="${vendor.user_id}" id="vendorId" hidden></td>
                            <td>
    
                                <a th:href="@{/adminhome/deleteVendor/{id}(id=${vendor.user_id})}" id="deleteButton"
                                     style="padding: 0;">
                                    <i class="fal fa-trash-alt" style="color: #ff0000;"></i></a>
                                <a th:href="@{/adminhome/showVendor/{id}(id=${vendor.user_id})}" 
                                    id="infoButton">
                                    <i class="far fa-info-circle" style="color: #398fac;"></i></a>
                                <a th:href="@{/adminhome/updateform/{id}(id=${vendor.user_id})}" 
                                    id="updateButton" style="padding: 0;">
                                    <i class="fal fa-edit" style="color: #37a136;"></i></a>
                            </td>
    
                        </tr>
                    </tbody>
                </table>
                <!-- Pagination -->
                <div class="card-footer ">
                    <ul class="pagination pagination-sm m-0 float-right">
                        Total Items [[${totalItems}]] : Page [[${currentPage}]] of [[${totalPages}]]
                        &nbsp; &nbsp
                    </ul>
                    <ul class="pagination pagination-sm m-0 float-left"
                        th:each="i: ${#numbers.sequence(1, totalPages)}">

                        <!-- <li class="page-item"><a class="page-link" href="#">«</a></li> -->
                        <li class="page-item"><a class="page-link" th:href="@{'/adminhome/list/' + ${i}}">[[${i}]]</a>
                        </li>
                        <!-- <li class="page-item"><a class="page-link" href="#">»</a></li> -->
                        &nbsp; &nbsp;
                    </ul>
                </div>
                <!-- End pagination -->
            </div>

            <!-- Delete modal -->
            <div class="modal fade" id="removeModalCenter" tabindex="-1" aria-labelledby="modalLabel" role="dialog"
                aria-hidden="true">
                <div  class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="removeModalCenterTitle">Delete alert</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" id="closeButton"
                                aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p class="alert alert-danger">
                                Are You sure You want to delete this vendor?
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                id="cancelButton">Cancel</button>
                            <a href="" class="btn btn-danger" id="delRef">Delete vendor</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- show details modal -->
            <div class="modal fade" id="infoModalCenter" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Vendor's details</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                id="closeButton">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" id="modal-body">

                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <th>Full name</th>
                                            <td><input type="text" class="form-control" id="fullname" value="" readonly>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Cin</th>
                                            <td><input type="text" class="form-control" id="cin" value="" readonly></td>
                                        </tr>
                                        <tr>
                                            <th>Gender</th>
                                            <td><input type="text" class="form-control" id="gender" value="" readonly>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Phone number</th>
                                            <td><input type="text" class="form-control" id="phonenumber" value=""
                                                    readonly></td>
                                        </tr>
                                        <tr>
                                            <th>Email address</th>
                                            <td><input type="text" class="form-control" id="emailaddress" value=""
                                                    readonly></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="hidden" name="id">
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
 
    <script src="/js/listvendors.js"></script>
    <script src="/js/fragments.js"></script>

</body>

</html>