<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">

    <script src="/js/fragments.js"></script>
    <link rel="stylesheet" href="/css/fragments.css">
</head>

<body>
    <div th:replace="fragments :: nav"></div>

    <div class="main-container d-flex">
        <div th:replace="fragments :: menu"></div>

        <div class="container">
            <h5>List of units</h5>
            <a class="btn btn-outline-success" id="showModal" style="margin: 10px;" href="#addModal" data-toggle="modal"
                data-target="#addModal">+ Add a unit</a>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Unit</th>
                        <th>Abbreviation</th>
                        <th>Created at</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="unit : ${unitslist}">
                        <td hidden th:text="${unit.unit_id}"></td>
                        <td th:text="${unit.name}" id="name"></td>
                        <td th:text="${unit.abbreviation}" id="abbreviation"></td>
                        <td th:text="${unit.date}" id="date"></td>
                        <td>
                            <a th:href="@{/adminhome/configuration/deleteUnit/{id}(id=${unit.unit_id})}"
                                id="deleteButton" class="btn" style="padding: 0;">
                                <i class="fal fa-trash-alt" style="color: #ff0000;"></i></a>

                            <a th:href="@{/adminhome/configuration/editUnit/{id}(id=${unit.unit_id})}" class="btn"
                                id="editButton" style="padding: 0;">
                                <i class="fal fa-edit" style="color: rgb(76, 136, 192);"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <!-- Delete Modal -->
            <div class="modal fade" id="removeModalCenter" tabindex="-1" role="dialog"
                aria-labelledby="removeModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="removeModalCenterTitle">Delete alert</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                id="closeButton">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p class="alert alert-danger">
                                Are You sure You want to delete this unit?
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                id="cancelButton">Cancel</button>
                            <a href="" class="btn btn-danger" id="delRef">Delete</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Update Modal -->
            <form th:action="@{/adminhome/configuration/saveUnit}" method="post">
                <div class="modal fade" id="editModalCenter" tabindex="-1" role="dialog"
                    aria-labelledby="editModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Unit's details</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                    id="closeBtn">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body" id="modal-body">

                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <tbody>
                                            <tr hidden>
                                                <td hidden><input type="text" name="unit_id" id="unit_id" value=""></td>
                                            </tr>
                                            <tr>
                                                <th>Name</th>
                                                <td><input type="text" class="form-control" id="name" name="name"
                                                        value=""></td>
                                            </tr>
                                            <tr>
                                                <th>Abbreviation</th>
                                                <td><input type="text" class="form-control" id="abbreviation"
                                                        name="abbreviation" value=""></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="modal-footer" id="modal-footer">
                                <button class="btn btn-success" type="submit">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <!-- Add Modal -->
            <div class="l">
                <form th:action="@{/adminhome/configuration/saveUnit}" method="post">
                    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModal"
                        aria-hidden="true">

                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Add a category</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                        id="closeButton">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body" id="modal-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <tr>
                                                <th>Unit's name</th>
                                                <td>
                                                    <input type="text" id="name" class="form-control form-control-lg" autofocus name="name" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Abbreviation</th>
                                                <td>
                                                    <input type="text" id="abbreviation" class="form-control form-control-lg" autofocus name="abbreviation" />
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            id="cancelButton">Cancel</button>
                                        <input type="submit" class="btn btn-success " value="Save" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>

    <script>
        $(document).ready(function () {

            $('.table #editButton').click(function (e) {
                e.preventDefault();
                var href = '';
                href = $(this).attr('href');
                // $("#infoButton").attr('href',href);
                $.get(href, function (unit, status) {
                    $('#editModalCenter #name').val(unit.name);
                    $('#editModalCenter #unit_id').val(unit.unit_id);
                    $('#editModalCenter #abbreviation').val(unit.abbreviation);
                });
                $('#editModalCenter').modal('show');
                $('#closeBtn').click(function () {
                    $('#editModalCenter').modal('hide');
                });
            });

            $('.table #deleteButton').on('click', function (event) {
                event.preventDefault();
                var href = $(this).attr('href');
                $('#removeModalCenter #delRef').attr('href', href);
                $('#removeModalCenter').modal('show');
                $('#cancelButton , #closeButton').on('click', function () {
                    $('#removeModalCenter').modal('hide');
                });
            });
            $("#showModal").click(function(e) {
            e.preventDefault();
            $("#addModal").modal('show');
                $('#closeButton , #cancelButton').on('click' ,function(e){
                    $("#addModal").modal('hide');
                });
            });

        });
    </script>
</body>

</html>