<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

    <script src="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/js/adminlte.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/css/adminlte.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

    <link rel="stylesheet" href="/css/fragments.css">
    <link rel="stylesheet" href="/css/table.css">
    <link rel="stylesheet" href="/css/search.css">

    <script src="/js/fragments.js"></script>
    <script src="/js/listusers.js"></script>

</head> 

<body>
    <div th:replace="~{fragments :: nav(search=true)}"></div>
 

    <div class="main-container d-flex">
        <div class="preloader flex-column justify-content-center align-items-center" style="background-color: white;">
            <img class="animation" src="/images/Vertical-Logo.png" alt="AvonFruitsLogo" height="30%" width="40%">
        </div>

        <div th:replace="fragments :: menu"></div>

        <div class="container-fluid" id="container-fluid">

            <div align="center" class=" entireTbl" style="overflow: auto;">
                <div class="top">
                    <h4>Users table</h4>
                    <a class="btn btn-block btn-outline-secondary" th:href="@{/adminhome/users/addUser}"
                        style="margin: 10px;"><i style="margin-right: 3px;" class="far fa-plus"></i> Add a user</a>
                </div>
                <table class=" tbl " id="usersTable">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Full name</th>
                            <th>Role</th>
                            <th>CIN</th>
                            <th>Gender</th>
                            <th>Email address</th>
                            <th>Phone number</th>
                            <th>Date</th>
                            <th>Action</th>
                        </tr>
                    </thead> 
                    <tbody id="tbody">
                        <tr style="cursor: pointer;" th:each="user : ${userlist}" id="row"
                            th:href="@{/adminhome/users/showUser/{id}(id=${user.user_id})}">
                            <td th:text="${user.user_id}" class="idCol"></td>
                            <td th:text="${user.firstname + ' ' + user.lastname}"></td>
                            <td th:text="${user.roles}" id="role" class="role"> </td>
                            <td th:text="${user.cin}"></td>
                            <td th:text="${user.gender}"></td>
                            <td th:text="${user.emailaddress}"></td>
                            <td th:text="${user.phonenumber}"></td>
                            <td th:text="${#temporals.format(user.date, 'MMMM d, yyyy HH:mm')}"></td>
                            <td style="height: 70px; width: 108px;">

                                <a th:href="@{/adminhome/users/deleteUser/{id}(id=${user.user_id})}" id="deleteButton"  th:attr="data-user-id=${user.user_id}">
                                    <i class="fal fa-trash-alt" style="color: #ff0000;"></i></a>
                                <a th:href="@{/adminhome/users/showUser/{id}(id=${user.user_id})}" id="infoButton">
                                    <i class="far fa-info-circle" style="color: #398fac;"></i></a>
                                <a th:href="@{/adminhome/users/updateUser/{id}(id=${user.user_id})}" id="updateButton">
                                    <i class="fal fa-edit" style="color: #37a136;"></i></a>
                            </td>

                        </tr>
                    </tbody>
                </table>
                <!-- Pagination -->
                <div class="card-footer ">
                    <ul class="pagination pagination-sm m-0 float-right">
                        Total Items [[${totalItems}]] : Page [[${currentPage}]] of [[${totalPages}]]
                        &nbsp; &nbsp
                    </ul>
                    <ul class="pagination pagination-sm m-0 float-left"
                        th:each="i: ${#numbers.sequence(1, totalPages)}">

                        <!-- <li class="page-item"><a class="page-link" href="#">«</a></li> -->
                        <li class="page-item"><a class="page-link"
                                th:href="@{'/adminhome/users/listusers/' + ${i}}">[[${i}]]</a></li>
                        <!-- <li class="page-item"><a class="page-link" href="#">»</a></li> -->
                        &nbsp; &nbsp;

                    </ul>
                </div>
                <!-- End pagination -->
            </div>

            <!-- Delete Modal -->
            <div class="modal fade" id="removeModalCenter" tabindex="-1" role="dialog"
                aria-labelledby="removeModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="removeModalCenterTitle">Delete alert</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                id="closeButton">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p id="error" class="text-danger"></p>  
                            <p class="alert alert-danger">
                                Are You sure You want to delete this user?
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn  btn-secondary" data-dismiss="modal"
                                id="cancelButton">Cancel</button>
                            <a href="" class="btn btn-danger" id="delRef">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End -->

            <!-- Info modal -->
            <div class="modal fade" id="infoModalCenter" tabindex="-1" role="dialog"
                aria-labelledby="infoModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">User details</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                id="closeButton">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" id="modal-body">

                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <th>User Id</th>
                                            <td><input type="text" class="form-control" id="user_id" name="user_id"
                                                    readonly value=""></td>
                                        </tr>
                                        <tr>
                                            <th>Full name</th>
                                            <td><input type="text" class="form-control" id="fullname" name="fullname"
                                                    readonly value=""></td>
                                        </tr>
                                        <tr>
                                            <th>Cin</th>
                                            <td><input type="text" class="form-control" id="cin" value="" readonly></td>
                                        </tr>
                                        <tr>
                                            <th>Gender</th>
                                            <td><input type="text" class="form-control" id="gender" value="" readonly>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Phone number</th>
                                            <td><input type="text" class="form-control" id="phonenumber" value=""
                                                    readonly></td>
                                        </tr>
                                        <tr>
                                            <th>Email address</th>
                                            <td><input type="text" class="form-control" id="emailaddress" value=""
                                                    readonly></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END -->

        </div>
    </div>

    <script src="/js/listusers.js"></script>
    <script src="/js/fragments.js"></script>

</body>

</html>