<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/login.css">

</head>

<body>

    <div class="container">
        <div class="card-body p-4  md-5">  
            <h3>Log into your account</h3>
        </div>

        <div class="form-container">
            <form th:action="@{/avonfruits/users/auth/login}" method="post" th:object="${user}" name="loginForm">
                <div class="form-floating mb-4">
                    <input type="text" id="emailaddress" class="form-control  " name="emailaddress" />
                    <label class="form-label" for="emailaddress">Email address</label>
                </div>
                <div class="form-floating mb-4 ">
                    <input type="password" id="password" class="form-control" name="password" />
                    <label class="form-label" for="password">Password</label>
                    <span class="bi bi-eye-slash position-absolute end-0 top-50 translate-middle-y" id="togglePassword"
                        style=" cursor: pointer ; margin: 5px; margin-right: 10px;"></span>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="rememberMe">
                    <label class="form-check-label" for="rememberMe">Remember me</label>
                </div>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn  btn-lg " id="registerButton" onclick="submit()">Log in</button>
                </div>

            </form>
            <!-- <a th:href="@{/singup}">Want to create a vendor account ?</a> -->
        </div>

    </div>

    <script src="/js/login.js"></script>
</body>

</html>