<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" 
    crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" 
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" 
    crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">

</head>
<body>
    <div class="container" id="codeVerification">
        <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Verification portal </h3>
        </div>
        <form th:action="@{/avonfruits/users/auth/verification}" method="post">
            <div class="form-floating mb-4">
                <input type="text" id="emailaddress" class="form-control form-control-lg"  name="emailaddress" th:value="${emailaddress}"/>
                <label class="form-label" for="emailaddress">Email address</label>
            </div>
            <div class="form-floating mb-4 position-relative" >
                <input type="text" id="code" class="form-control form-control-lg"  name="code" th:value="${code}"/>
                <label class="form-label" for="code" >Verification Code</label>
            </div>
            <p th:text="${id}"  id="id"></p>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-success btn-lg gradient-custom-4 text-body" onclick="submit()">Submit</button>
            </div>
        </form>
    </div>

    <div class="container" id="passwordsetting">
       
        <!-- </form> -->
    </div>

    <script>
        function submit(){
            var id = document.getElementById('id').textContent();
        // const idfield = document.getElementById('id');
        // idfield.setAttribute('th:value',id);
            console.log(id);
        }
    </script>


</body>
</html>